@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

//Variables:
//Colores
$body-color:#DCF3FF;
$form-color:#ffffff;
$h1-color:#054163;
$first-row-color:#0781c7;
$border-botom-color:#a8a4a4;
$btn-text-color:#ffffff;
$shadow-color:#888888;
$btn-color:#0781c7;
$h2-color:#ffffff;

//Fonts
$body-font:'Roboto', sans-serif;
$font-size:16px;

