@import "./variables";
@import"./mixin/breakpoints";
*{
    box-sizing: border-box;
}

html,body{
    margin:0;
    padding:0;
    background-color: $body-color;
    font: $body-font;
    font-size:$font-size;
    height: 1.6;
    background-image: url("../images/images.jpeg");
    background-size: cover;
    
}

.h1-style{
    margin-top: 3rem;
    color: $h1-color;
    font-size: 2rem;
 }
 .h2-style{
     font-size: 1.5rem;
     color: $h2-color;
 }
 .border-botomn{
     border-bottom: 3px solid $h1-color;
     margin-top: 1rem;
     margin-bottom: 3rem;
 }

form{
    background-color: $form-color;
    .bg-color{
        background-color:$first-row-color;
        border-bottom:1px solid $border-botom-color;
    }  
    .btn-bg{
        background-color: $btn-color;
        color:$btn-text-color;
        box-shadow: 6px 8px 12px $shadow-color;
        padding: 1rem 2rem;;

        &:hover{
            color:$btn-text-color;
            background-color:darken($btn-color,20%) ;
            box-shadow: 3px 2px 2px $shadow-color;
        }
    }
}

.container {
   
    @include md {
        max-width: 720px;
    }
    @include lg {
        max-width: 960px;
    }
    @include xl {
        max-width: 1140px;
    }
    @include xxl {
        max-width: 1320px;
    }
}

