//variables:
//Colores
$body-color:#f4f4f4;
$form-color:#ffffff;
$h1-color:darkblue;
//Fonts
$body-font:Arial,sans-serif;
*{
    box-sizing: border-box;
}
html,body{
    margin:0;
    padding:0;
    background-color: $body-color;
    font: $body-font;
    height: 1.6;
}
.h1-style{
    margin-top: 3rem;
    color: $h1-color;
 }
 .border-botomn{
     border-bottom: 3px solid $h1-color;
     margin-top: 1rem;
 }
form{
    background-color: $form-color;
    border-radius: 20px;
    .bg-color{
        background-color: $body-color;
    }   
}


