//variables:
//Colores
$body-color:#f4f4f4;
$form-color:#ffffff;
//Fonts
$body-font:Arial,sans-serif;
*{
    box-sizing: border-box;
}
html,body{
    margin:0;
    padding:0;
    background-color: $body-color;
    font: $body-font;
    height: 1.6;
}
form{
    background-color: $form-color;
    border-radius: 20px;
    .bg-color{
        background-color: $body-color;
    }   
}

.h1-style{
    margin-bottom: 3rem;
}
